window {
  background-color: $neutral-800;
}
* {
  box-shadow: none;
  border: none;
  outline: none;
  font-family: "Ubuntu Sans", sans-serif;
  color: $neutral-100;
}
._title {
  color: $neutral-100;
  font-size: 32px;
}