@import "variables";
@import "base";
@import "sidebar";
@import "auth";

._right_block {
  background-color: #171717;
  border-left: 1px solid #404040;
  border-top: 1px solid #404040;
  border-radius: 12px 0 0 0;
}

.modal__chat-info {
  background: $neutral-800;
}

._popup {
  background: transparent;
  &__message {
    padding: 8px 0;
    border-radius: 8px;
    background: $emerald-900;
    opacity: 0;
    transition: opacity .5s ease;
    margin-top: 20px;
    &._show {
      opacity: 1;
    }
  }
}