@import "variables";
@import "base";
@import "sidebar";
@import "auth";

._right_block {
  background-color: #171717;
  border-left: 1px solid #404040;
  border-top: 1px solid #404040;
  border-radius: 12px 0 0 0;
}

.modal__chat-info {
  background: $neutral-800;
}

._popup {
  background: transparent;
  &__message {
    padding: 8px 0;
    //border-radius: 8px;
    background: $emerald-900;
    opacity: 0;
    transition: opacity .5s ease;
    margin-top: 20px;
    &._show {
      opacity: 1;
    }
  }
}

.chat {
  &__header {
    background: $neutral-900;
    border-top-left-radius: 12px;
    border-bottom: 1px solid $neutral-950;
  }
  &__bottom {
    background: $neutral-800;
  }

  &__scrolled-window {
    margin-right: 2px;
  }

  &__message {

    &__wrapper {
      margin: 6px 10px 6px 12px;
    }

    &__text {
      border-radius: 16px;
      font-size: 16px;
      &_bg {
        background: $neutral-900;
      }

      &._received {
        background: $neutral-700;
        border-bottom-left-radius: 0;
      }
      &._sended {
        background: $emerald-950;
        border-bottom-right-radius: 0;
      }
    }
    &__time {
      margin-right: 10px;
      margin-bottom: 4px;
    }
  }
}