@import "variables";
@import "base";
@import "sidebar";
@import "login";

._right_block {
  background-color: #171717;
  border-left: 1px solid #404040;
  border-top: 1px solid #404040;
  border-radius: 12px 0 0 0;
}

.modal__chat-info {
  background: $neutral-800;
}